{"filter":false,"title":".gitignore","tooltip":"/Bookers2-debug8/.gitignore","undoManager":{"mark":2,"position":2,"stack":[[{"start":{"row":32,"column":0},"end":{"row":32,"column":1},"action":"insert","lines":["."],"id":1}],[{"start":{"row":32,"column":0},"end":{"row":32,"column":1},"action":"remove","lines":["."],"id":2}],[{"start":{"row":32,"column":0},"end":{"row":32,"column":5},"action":"insert","lines":["/.env"],"id":3}]]},"ace":{"folds":[],"scrolltop":326.5,"scrollleft":0,"selection":{"start":{"row":32,"column":5},"end":{"row":32,"column":5},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":19,"state":"start","mode":"ace/mode/ini"}},"timestamp":1616312203309,"hash":"5eccd86420266fb467dbcedf8700e051a497087a"}